<div class="container">
    <h2>Welcome to the Patent Legal Status Extractor</h2>
    <div>
        <h6>Some important Links</h6>
        <a href="https://patents.google.com/">Google Patents</a>
        <a href="https://patentcenter.uspto.gov/#!/">Patent Center</a>
        <a href="https://worldwide.espacenet.com/">Espacenet</a>
    </div>  
</div>


